.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(
-60deg, #95959570 50%, #ddd 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
.family{ 
    font-family: Arial, Helvetica, sans-serif; 
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
@media screen and (min-width: 1200px) { 
    .center {
        position: fixed;
        top: 50%;
        left: 50%;
        background: #0000008a;
        transform: translate(-50%, -50%);
        padding: 46px 25px;
        border-radius: 5%;
        color: #ffffff;
    } 

    .container{ 
        max-height: 300px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1200px) and (min-width: 600px){ 
    .center {
        position: fixed;
        top: 20%;
        left: 20%;
        background: #0000008a;
        transform: translate(-20%, -20%);
        padding: 46px 25px;
        border-radius: 5%;
        color: #ffffff;
    } 

    .container{ 
        max-height: 300px;
        overflow-y: auto;
    }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) { 

    .center {
        color: #0000008a;
        position: fixed;
    } 

    .container{ 
        max-height: 300px;
        overflow-y: auto;
    }
} 
 
html {
    --scrollbarBG: #cfd8dc00;
    --thumbBG: #90a4ae;
}

div::-webkit-scrollbar {
  width: 11px;
}
div {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
div::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
} 


 




.animation {
  text-align: center; 
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation:  aitf 50s linear infinite;;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px rgba(255, 255, 255, 0.295),
    0px 0px 10px rgba(255, 255, 255, 0.295),
    0px 0px 10px rgba(255, 255, 255, 0.295),
    0px 0px 10px rgba(255, 255, 255, 0.295),
    0px 0px 10px rgba(255, 255, 255, 0.295),
    0px 0px 10px rgba(255, 255, 255, 0.295),
    0px 0px 10px rgba(255, 255, 255, 0.295)
  }
}





.animation {
    /* font: 700 4em/1 "Oswald", sans-serif; */
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    /* display: block; */
    margin: 0 auto;
    text-shadow: 0 0 80px rgb(255 255 255 / 50%);
    background: url(https://images.unsplash.com/photo-1533994878888-a5f4947b530d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
  /* Animate Background Image */
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }